# Wishbone Timer/Counter Configuration
# A simple 32-bit programmable timer with Wishbone B4 interface

name = 'wb_timer'

[files]
path = '.'

[generate]
generator = 'systemverilog'

[generate.sv2v]
top_module = 'wb_timer'

[clocks]
sys = 'clk'

[resets]
sys = 'rst_n'

# Bus interface (typically direction = "in" from Amaranth's perspective)
[ports.bus]
interface = 'amaranth_soc.wishbone.Signature'
direction = 'in'

[ports.bus.params]
addr_width = 4
data_width = 32
granularity = 8

[ports.bus.map]
cyc = 'i_wb_cyc'
stb = 'i_wb_stb'
we = 'i_wb_we'
sel = 'i_wb_sel'
adr = 'i_wb_adr'
dat_w = 'i_wb_dat'
dat_r = 'o_wb_dat'
ack = 'o_wb_ack'

# Pin interfaces (typically direction = "out" - we provide them to IO pads)
[pins.irq]
interface = 'amaranth.lib.wiring.Out(1)'
map = 'o_irq'

# Software driver configuration for SoftwareDriverSignature
[driver]
regs_struct = 'wb_timer_regs_t'
h_files = ['drivers/wb_timer.h']
